
<h2>Education</h2>
<h4 class="school">University of Michigan | 2013 - 2018</h4>
<h5 class="major">B.S. in Data Science</h5>

<h2>Work Experience</h2>
<h4>Software Engineer | <span class="company">Thomson Reuters</span><span class="years">2019-Present</span></h4>
  <ul>
    <li>Spearheaded effort to reimagine and rewrite our enterprise AngularJS codebase to the modern Angular 11 framework. Developed rollout strategy which maximized innovation cadence and minimized disruption to active users.</li>
    <li>Critically examined performance bottlenecks and partnered with the Product team to develop mitigating solutions in the application to maximize customer experience.</li>
    <li>
      <span>Led efforts to onboard and coach teams of new contract engineers in effort to accelerate the delivery of our product roadmap.</span>
      <ul>
        <li>Upheld code quality standards by partnering closely on development of solutions and providing through code reviews</li>
        <li>Modeled effective solution design through pair programming and active feedback sessions</li>
      </ul>
    </li>
    <li>Advised and consulted with our product and UI/UX teams to create development plans for large scale visual and usability changes to application</li>
  </ul>
<h4>Associate Software Engineer | <span class="company">Thomson Reuters</span><span class="years">2018-2019</span></h4>
<ul>
  <li>Designed, implemented, and maintained full stack solutions including new C# RESTful APIs and modular Angular JS components used across engineering teams supporting enterprise application platform</li>
  <li>Partnered closely with Product leadership to prioritize highest-value work and project delivery pipeline in highly agile environment</li>
</ul>
<h4>Software Engineering Intern | <span class="company">Thomson Reuters</span><span class="years">2015-2018</span></h4>
<ul>
  <li>Worked 20 hours a week throughout duration of college beginning in 2015, and full time during summers</li>
  <li>Created features and fixed bugs on both the front and back end for Onvio, a cloud based web application
    for accountants to manage their practice</li>
  <li>Helped refactor and redesign core front end components to improve user experience and site performance</li>
  <li>Implemented REST APIs for various business entities</li>
</ul>

