.tabs-container {
  display: flex;
  text-align: center;
  padding: 20px;
}

.tabs-container .tab {
  width: 100%;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
}

@media (min-width: 480px) {
  .tabs-container .tab {
    margin: 0px 50px 0px 50px;
  }
}

.tabs-container .tab:hover:not(.tab-selected) {
  border-bottom: 4px solid darkblue;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

/* .tabs-container.none-selected {
  padding-top: 40vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}

.tabs-container:not(.none-selected) {
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;

  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
} */

.tab-selected {
  border-bottom: 4px solid blue;
}

.tab-content-container {
  padding: 20px;
}
