::ng-host body {
  height: 100vh;
  width: 100vh;
  padding: 20px;
}

@media (max-width: 480px) {
  .page {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page {
  padding-top: 5vh;
  padding-left: 20vw;
  padding-right: 20vw;
}

.page-top-right {
  position: absolute;
  right: 20px;
  top: 20px;
}

.page-top-left {
  position: absolute;
  left: 20px;
  top: 20px;
  font-weight: 500;
  font-size: 21px;
}

.tab-content-container {
  padding: 20px;
}

nav {
  display: inline-block;
}

nav li {
  display: inline;
}

.intro-text {
  display: inline-block;
  padding-top: 10vh;
}

#intro-text-segment-1 {
  opacity: 0;
  animation: fadeIn 2s linear 0s 1 forwards;
  -webkit-animation: fadeIn 2s linear 0s 1 forwards;
  -moz-animation: fadeIn 2s linear 0s 1 forwards;
  -o-animation: fadeIn 2s linear 0s 1 forwards;
  -ms-animation: fadeIn 2s linear 0s 1 forwards;
}

#intro-text-segment-2 {
  opacity: 0;
  animation: fadeIn 2s linear 2.5s 1 forwards;
  -webkit-animation: fadeIn 2s linear 2.5s 1 forwards;
  -moz-animation: fadeIn 2s linear 2.5s 1 forwards;
  -o-animation: fadeIn 2s linear 2.5s 1 forwards;
  -ms-animation: fadeIn 2s linear 2.5s 1 forwards;
}

#intro-text-segment-3 {
  opacity: 0;
  animation: fadeIn 2s linear 5s 1 forwards;
  -webkit-animation: fadeIn 2s linear 5s 1 forwards;
  -moz-animation: fadeIn 2s linear 5s 1 forwards;
  -o-animation: fadeIn 2s linear 5s 1 forwards;
  -ms-animation: fadeIn 2s linear 5s 1 forwards;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
