<ul>
  <li><h2>Languages</h2>
    <ul>
      <li>Typescript</li>
      <li>Javascript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>C#</li>
      <li>Python</li>
    </ul>
  </li>
  <li><h2>Frameworks</h2>
    <ul>
      <li>Angular</li>
      <li>AngularJS</li>
      <li>node.js</li>
      <li>.NET Framework</li>
      <li>StencilJS</li>
      <li>Jasmine</li>
      <li>Jest</li>
      <li>Storybook</li>
    </ul>
  </li>
  <li><h2>Tools</h2>
    <ul>
      <li>Git</li>
      <li>Webpack</li>
      <li>Grunt</li>
      <li>Yarn</li>
    </ul>
  </li>
</ul>
